@charset "UTF-8";/* 全体 */

body {
	background-color: rgb(241, 241, 241); 
	text-align: center;  
    min-width: 900px;  
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header {
	background-color:  rgb(22, 23, 35); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}
nav,span{
	color: #ffdd00;
	text-align    : left;
}

nav,a{
	color: rgb(50, 155, 205);
}
input{
	font-weight:bold;
	font-size     : 14pt; 
}
textarea{
	  font-size     : 13pt; 
}

/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: rgb(50, 155, 205);
}
/* ヘッダー内見出し */

/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}

.button {
  display       : inline-block;
  border-radius : 7%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  font-weight:bold;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 16px 13px;   /* 余白       */
  background    : #f3a125;     /* 背景色     */
  color         : #323232;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #e99643;    /* 枠の指定 */
}
.button:hover {
  color         : #323232;     /* 背景色     */
  background    : #bf770b;     /* 文字色     */
}

h2{
	font-size     : 20pt; 
	background: #0c132f;
	color: rgb(255, 255, 255);
	padding: 5px;
}

/* 表線 */
table, th, td {  
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 900px;
}
/* 表見出しセル */
table th {
	font-size     : 13pt; 
	background: #7d8bae;
	color: #ffffff;
	padding: 3px;
}

#mt {
	font-size     : 13pt; 
	font-weight:bold;
	width:350px;
}

#mt3 {
	font-size     : 13pt; 
	font-weight:bold;
	width:750px;
}

#mt2 {
	font-size     : 13pt; 
	font-weight:bold;
	width:550px;
	text-align:left;
	margin-left:10px;
 	position: relative;
 	padding-left: 30px;
 	padding-right: 30px;
}

table td {
	font-size     : 14pt; 
	font-weight:bold;
}


/* 送信ボタン#e5857b #ffffff */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: #ffffff;
	color:#e5857b ;
	border: none;
	width:150px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	color:#ffffff;
	background: #efb55d;
}

.button2 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 50px;   /* 余白       */
  background    : #1a2a67;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #1a2a67;    /* 枠の指定 */
}
.button2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #1a2a67;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button3 {
  font-weight:bold;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 55px;   /* 余白       */
  background    : #f1f100;     /* 背景色     */
  color         : #111111;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ   */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
/*  border        : 2px solid #f1f100;   */
}
.button3:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #111111;     /* 背景色     */
  background    : #cdcd24;     /* 文字色     */
}

.button4 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 16pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 63px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #111111;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
}
.button4:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #111111;     /* 背景色     */
  background    : #ededed;     /* 文字色     */
}

.button5 {
  font-weight:bold;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 34px;   /* 余白       */
  background    : #f1f100;     /* 背景色     */
  color         : #111111;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
}
.button5:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #111111;     /* 背景色     */
  background    : #cdcd24;     /* 文字色     */
}
.button6 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 34px;   /* 余白       */
  background    : #ff0606;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ff0606;    /* 枠の指定 */
}
.button6:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ffffff;     /* 背景色     */
  background    : #d82d2d;     /* 文字色     */
}


/* --- 検索全体のBOX (サンプル用)--- */
.searchArea{
  width          : 290px;              /* BOXの幅               */
  height         : 27px;               /* BOXの高さ             */
  margin         : auto;               /* サンプルを中心に寄せ  */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
  position: relative;
  left:30px;
}
 
 /* --- テキスト入力欄のSTYLE設定 --- */
.searchArea .searchText {
  display        : block;              /* ブロック化            */
  float          : left;               /* 横並び                */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 27px;               /* 入力の高さ            */
  width          : 170px;              /* 入力の幅              */
  margin         : 0;                  /* 外余白                */
  padding        : 0 13px;             /* 内余白                */
  border         : 2px solid #009000;  /* 枠線　幅,実践,色      */
  border-radius  : 13px 0 0 13px;      /* 左上下の角丸          */
  color          : #333;               /* 文字色                */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
  font-size      : 15px;               /* フォントサイズ        */
}
 
 /* --- 検索ボタン欄のSTYLE設定 --- */
.searchArea .searchButton {
  float          : left;               /* 横並び                */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 27px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 0 13px 13px 0;      /* 右上下の角丸          */
  background     : #009000;            /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */
  line-height    : 15px;               /* 1行の高さ             */
  font-size      : 15px;               /* フォントサイズ        */
}
 
 /* --- 検索ボタン欄にフォーカスか来たとき --- */
.searchArea .searchText:focus {
  background     : #cfe7ff;            /* フォーカス時の背景色  */
}
 
 /* --- IEの入力エリア右側×消し -------------------------*/
.searchArea .searchText::-ms-clear {
  display        : none;               /* ×を消す              */
}

/*body {*/
/*   font-family:'Noto Sans JP',sans-serif;*/
/*   background-color:#f6f5f4;*/
/*}*/

.sidebar {
  background-color: rgb(22, 23, 35); /* 背景色 */
  color: #ffffff;
  width:280px;
  height: 1100px; 
  text-align:center;
  position:fixed;
} 

.content {
/*  width:300px;*/
/*  height:300px;*/
  text-align:center;
  margin-left:10px;
  position: relative;
  left:300px;
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
}