<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/css.css">
</head>

<body>

	<article>

		<div class="sidebar">
			<p>
			<h1>今日の献立</h1>

			<br>
			<span th:text="${@account.userName}+' さんがログイン中'"></span>
			&nbsp;&nbsp;<br>
			<a href="/logout">ログアウト</a>
			<br>
			<br>


			
			<hr>
			<br>

			料理名で検索する
			<br>

			<form action="/recipes" method="get" div class="searchArea" id="makeImg">

				<input type="text" id="inText" class="searchText" name="keyword" placeholder="料理名"
					th:value="${keyword}">
				<div>
					<input type="submit" value="検索" class="searchButton">
				</div>

			</form>
			<br>


			料理別で絞り込む
			<br>
			<a href="/recipes?categoryId=1">和食</a>
			<a href="/recipes?categoryId=2">洋食</a>
			<a href="/recipes?categoryId=3">中華</a>

			<br>

			<a href="/recipes?categoryId=4">その他</a>
			<a href="/recipes">全レシピ</a>
			
			<br>
			<br>
			<hr>

			<br>
			あなたのレシピを新規で登録する
			<br>
			<!--				時間があればボタンに変更-->
			<!--				<button onclick="location.href='URL'">サンプル</button>-->
			<a href="/recipes/new">レシピ新規登録</a>
			<br>
			<br>

			<hr>
			<br>

			<form action="/recipes/random" method="post">
				<input type="submit" value="ランダムでレシピを提案" class="button">
			</form>
			<br>

			<hr>

		</div>

		<div class="content">
			<p>

			<main>
				<h2>レシピ情報</h2>
				<table border="1">
					<tr>
						<th>カテゴリー</th>
						<td th:text="和食" th:if="${recipe.categoryId==1}"></td>
						<td th:text="洋食" th:if="${recipe.categoryId==2}"></p>
						<td th:text="中華" th:if="${recipe.categoryId==3}"></td>
						<td th:text="その他" th:if="${recipe.categoryId==4}"></td>			
					</tr>
					<tr>
						<th>料理名</th>
						<td th:text="${recipe.recipeName}"></td>
					</tr>
					<tr>
						<th>材料</th>
						<td th:text="${recipe.materials}" id="mt3"></td>
					</tr>
					<tr>
						<th>作り方</th>
						<td th:text="${recipe.contents}" id="mt2"></td>
					</tr>
					<tr>
						<th>レシピ作成者</th>
						<td th:text="${recipe.name}"></td>
					</tr>
				</table>
			</main>
			<form action="/recipes" method="get">
				<input type="submit" value="一覧に戻る"class="button2">
			</form>
		</div>
		</p>
	</article>
</body>

</html>