<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>今日の献立</title>
	<link rel="stylesheet" type="text/css" href="/css/css.css">
</head>

<body>

	<article>

		<div class="sidebar">
			<p>
			<h1>今日の献立</h1>

			<br>
			<span th:text="${@account.userName}+' さんがログイン中'"></span>
			&nbsp;&nbsp;
			<a href="/logout">ログアウト</a>
			<br>
			<br>


			
			<hr>
			<br>

			料理名で検索する
			<br>

			<form action="/recipes" method="get" div class="searchArea" id="makeImg">

				<input type="text" id="inText" class="searchText" name="keyword" placeholder="料理名"
					th:value="${keyword}">
				<div>
					<input type="submit" value="検索" class="searchButton">
				</div>

			</form>
			<br>


			<hr>

			料理別で絞り込む
			<br>
			<a href="/recipes?categoryId=1">和食</a>
			<a href="/recipes?categoryId=2">洋食</a>
			<a href="/recipes?categoryId=3">中華</a>

			<br>

			<a href="/recipes?categoryId=4">その他</a>
			<a href="/recipes">全レシピ</a>

			<hr>

			<br>
			あなたのレシピを新規で登録する
			<br>
			<!--				時間があればボタンに変更-->
			<!--				<button onclick="location.href='URL'">サンプル</button>-->
			<a href="/recipes/new">レシピ新規登録</a>
			<br>
			<br>

			<hr>
			<br>

			<form action="/recipes/random" method="post">
				<input type="submit" value="ランダムでレシピを提案" class="button">
			</form>
			<br>

			<hr>

		</div>


		<div class="content">

			<p>

			<h2>投稿されているメニュー一覧</h2>


			<table border="1">
				<tr>
					<th>NO</th>
					<th>料理名</th>
					<th>材料</th>
					<th>レシピ作成者</th>
					<th>編集</th>
					<th>削除</th>
				</tr>
				<tr th:each="recipe:${recipes}">
					<td th:text="${recipe.id}"></td>
					<td><a th:href="@{'/recipes/'+${recipe.id}+'/all'}" th:text="${recipe.recipeName}"></a></td>
					<td th:text="${recipe.materials}" cols="30"></td>
					<td th:text="${recipe.name}"></td>
					<td>
						<form th:action="'/recipes/'+${recipe.id}+'/edit'" method="get">
							<input type="submit" value="更新" class="button5">
						</form>
					</td>
					<td>
						<form th:action="'/recipes/'+${recipe.id}+'/delete'" method="post">
							<input type="submit" value="削除" class="button6">
						</form>
					</td>
				</tr>
			</table>


			</p>
		</div>
	</article>
</body>

</html>