<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
</head>
<body>
	
		<header th:replace="header"></header>
	<hr>
	
	<main>
		レシピ情報
		<table border="1">
			<tr>
				<th>カテゴリー</th>
				<td th:text="${recipe.categoryId}"></td>
			</tr>
			<tr>
				<th>料理名</th>
				<td th:text="${recipe.recipeName}"></td>
			</tr>
			<tr>
				<th>材料</th>
				<td th:text="${recipe.materials}"></td>
			</tr>
			<tr>
				<th>作り方</th>
				<td th:text="${recipe.contents}"></td>
			</tr>
		</table>
	</main>
	<form action="/recipes" method="get">
		<input type="submit" value="一覧に戻る">
	</form>
</body>
</html>