<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/css.css">
<title>レシピ更新</title>
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	
	<h4>レシピ情報変更</h4>

	<form th:action="'/recipes/'+${recipe.id}+'/edit'" method="post">
		<table border="1">
			
			<tr>
				<th>カテゴリー</th>
				<td>
					<input type="radio"name="categoryId"value="1"th:checked="${recipe.categoryId == 1}">和食
					<input type="radio"name="categoryId"value="2"th:checked="${recipe.categoryId == 2}">洋食
					<input type="radio"name="categoryId"value="3"th:checked="${recipe.categoryId == 3}">中華
					<input type="radio"name="categoryId"value="4"th:checked="${recipe.categoryId == 4}">その他
				</td>
			</tr>
			<tr>
				<th>料理名</th>
				<td>
					<input type="text" name="recipeName"th:value="${recipe.recipeName}">
				</td>
			</tr>
			<tr>
				<th>材料</th>
				<td>
					<input type="text" name="materials"th:value="${recipe.materials}">
				</td>
			</tr>
			<tr>
				<th>作り方</th>
				<td>
					<textarea name="contents">[[${recipe.contents}]]</textarea>
				</td>
			</tr>
			
		</table>
		<input type="submit" value="更新">
	</form>
</body>
</html>