<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー新規登録</title>
	<link rel="stylesheet" type="text/css" href="/css/userform.css">
</head>

<body>

	<form action="/users/add" method="post">

			<p class="fsize">ユーザー新規登録</p>

			<div class="container">
				
				<span th:text="${message}" style="color:red;"></span>

				<input type="text" name="userName" placeholder="ユーザー名" />
				<input type="text" name="password" placeholder="パスワード" />
				<button type="submit">新規会員登録</button>

			</div>
	</form>
	
	<a class="user-link" href="/login">ログイン画面に戻る</a>

</body>

</html>